/*--------------------------------------------------------------
24. Feature
----------------------------------------------------------------*/
.cs_featured_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 75px;
  @media (max-width: 1400px) {
    grid-gap: 40px;
  }
  @media (max-width: 1199px) {
    grid-gap: 24px;
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
